---
layout: page
title: Vincent Cheung's 博客
---

<!-- content -->
{% for post in paginator.posts %}
  {% if post.group == null %}
    <div class="post-item">
    <a href="{{ post.url }}">
      <h3>{{ post.title }}</h3>
    </a>
    {% if post.head != null %}
      <p><h3><small>{{ post.head }}</small></h3></p>
    {% endif %}
    <p class="date"><h3><small>{{ post.date | date_to_long_string}}</small></h3></p>
    <hr>
    </div>
  {% endif %}
{% endfor %}

<!-- paginator -->
<div>
  <ul class="pager">
  <!-- previous page -->
  {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
      <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 上一页</a></li>
    {% endif %}

    <!-- page number -->
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="active">{{ page }}</span>
      {% elsif page == 1 %}
        <li class="number"><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
        <li class="number"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    <!-- next page -->
    {% if paginator.next_page %}
      <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页 &rarr;</a></li>
    {% endif %}
  {% endif %}
  </ul>
</div>
